img#profilepic {
    width:400px;
    height:400px;
    padding-top: 20px;
}

img.centerImage{
	display: block;
    margin: 0 auto;
}
p {
	font-family: Verdana;
}

h1 {
	text-align: center;
	font-family: Helvetica;
	padding-top: 20px;
}

a {
	color:black;
}

a:hover {
	color: #e60000;
	font-weight: bold;
	text-decoration: none;
}

h3 {
	color:#e6b800;
	font-family: Verdana;
}
h4 {
	font-weight: bold;
	font-family: Verdana;
}
ul {
	font-family: Verdana;
}